In [ ]:
import pandas as pd 

df = pd.read_csv('data/ml-100k/u.data', sep='\t', names=['user_id', 'item_id', 'rating', 'timestamp'])

df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [7]:
from scipy.sparse import coo_matrix
import numpy as np

# Convert to NumPy arrays
user_ids = df['user_id'].to_numpy()
item_ids = df['item_id'].to_numpy()
timestamps = df['timestamp'].to_numpy()

# Create a sparse matrix with timestamps as values
user_item_matrix_coo = coo_matrix((timestamps, (user_ids, item_ids)))

# Display the shape of the sparse matrix to check if it was created successfully
print(user_item_matrix_coo.shape)

(944, 1683)

In [8]:
user_item_matrix_coo

<944x1683 sparse matrix of type '<class 'numpy.int64'>'
	with 100000 stored elements in COOrdinate format>

In [9]:
# Convert to a dense numpy array and view some of the samples (e.g., first 10 rows and columns)
dense_matrix = user_item_matrix_coo.toarray()
print(dense_matrix[:10, :10])  # Print a 10x10 sample of the dense matrix

[[        0         0         0         0         0         0         0
          0         0         0]
 [        0 874965758 876893171 878542960 876893119 889751712 887431973
  875071561 875072484 878543541]
 [        0 888550871         0         0         0         0         0
          0         0         0]
 [        0         0         0         0         0         0         0
          0         0         0]
 [        0         0         0         0         0         0         0
          0         0         0]
 [        0 875635748 875636053         0         0         0         0
          0         0         0]
 [        0 883599478         0         0         0         0         0
  883599102 883600657 883599205]
 [        0         0         0         0 891351772         0         0
  891352220 891351328 891351432]
 [        0         0         0         0         0         0         0
  879362287         0         0]
 [        0         0         0         0         0         0 886960055
  886960030         0         0]]